@font-face {
    font-family: h1-header;
    src: url(./assets/Cabin_Sketch/CabinSketch-Bold.ttf);
}
@font-face {
    font-family: h1-all;
    src: url(./assets/Big_Shoulders_Stencil_Text/static/BigShouldersStencilText-Bold.ttf);
}
@font-face {
    font-family: p-all;
    src: url(./assets/Trispace/Trispace-VariableFont_wdth\,wght.ttf);
}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-align: center;
    margin: auto;
}
a, #audio a{
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
}
ul{
    list-style: none;
}
p, ul{
    font-family: 'p-all', sans-serif;
    text-align: justify;
}
p, h1{
    margin-bottom: 80px;
}
h2, ul, #audio{
    margin-bottom: 40px;
}
p{
    font-size: 1.5rem;
}
em{
    font-style: normal;
}
#bonne-conduite{
    font-style: normal;
    font-weight: bold;
    color: rgb(56, 56, 56);
}
section{
    width: 100vw;
}
section div{
    width: 50vw;
    margin-left: 50%;
    transform: translateX(50%);
    margin: 1px 0px;
}
h1{
    font-size: calc(1.5rem + 2vw);
}
h1, h2, footer h2{
    font-family: 'h1-all', sans-serif;
    color: rgb(56, 56, 56);
}
h2, footer h2{
    font-size: calc(1rem + 1.5vw);
}
#dates h1, #dates h2{
    color: rgb(198, 198, 198);
}

header{
    width: 100vw;
    height: 88vh;
    display: flex;

    justify-content: space-between;
    flex-direction: column;

    background: url(./assets/bg-header.jpg) center/cover no-repeat;
}

#dates{
    background: url(./assets/dust.jpg) top no-repeat;
}

header h1{
    padding: 5px 15px;
    font-family: 'h1-header', sans-serif;
    font-size: calc(2rem + 3vw);
    margin-top: 15vh;
    letter-spacing: calc(1px + 0.5vw);
    color: orange;
    transform: rotate(-2deg);
    font-weight: bolder;
    border: dashed 8px rgba(255, 166, 0, 0.857);
 }

/* arrow down */
#down{
    margin-bottom: 10vh;
    transition: 0.2s ease;
    opacity: 0.7;
}
#down:hover{
    /* transform: translateY(2px); */
    opacity: 0.9;
}
.scrolldown:hover{
    background: rgba(0, 0, 0, 0.605);
}
.scrolldown, .scrolldown div{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}    
.scrolldown div{   
    background: url(./assets/arrowdown1.png) center/cover no-repeat;
    background-position-y: 1px;
}
.scrolldown{
    border-radius: 50%;
    border: dashed rgb(255, 166, 0) 2px;
    background: rgba(0, 0, 0, 0.605);
}

#about{
    background: url(./assets/durt.jpg) no-repeat;
    padding-top: 20px;
}
#about p{
    font-size: calc(0.8rem + 1vmin);
    width: 50vw;
}
#dates{
    background-color: black;
    color: white;
    padding: 20px 0px;
}
#dates ul{
    color: rgb(238, 238, 238);
}
#dates span{
    color: rgb(218, 142, 0);
}


#members li, #dates li{
    margin-bottom: 20px;
    font-size: calc(0.8rem + 0.3vw);
}
#members span, #dates span{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#audio{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
}
#audio audio{
    margin-bottom: 4px;
    width: 60%;
    height: 24px;
}
#audio a{
    margin-bottom: 25px;
    font-family: 'p-all', sans-serif;
    font-size: calc(0.9rem + 0.2vw);
    color: rgb(76, 76, 76);
    font-weight: bold;
}

footer{
    width: 100vw;
    background: rgb(0, 0, 0);
    padding: 10px 0px 20px 0px;
}
.contact p{
    font-family: 'p-all', sans-serif;
    font-size: calc(0.9rem + 0.2vw);
    margin-bottom: 0;
    text-align: center;
    color: white;
}
.contact a, #dates a{
    color: orange;
}
.contact div:nth-child(2){
    margin-top: 6px;
}

/* RESPONSIVE XXXXXXXXXXXXXXXXXXXX */

/* taille du texte de présentation */
@media screen and (max-width: 710px){
    #about p{
        width: 60vw;
    } 
}
@media screen and (max-width: 615px){
    #about p{
        width: 70vw;
    } 
}
@media screen and (max-width: 470px){
    #about p{
        width: 75vw;
    } 
}

/* taille des lecteurs audio */
@media screen and (max-width: 800px){
    #audio{
        width: 75vw;
    } 
}
@media screen and (max-width: 620px){
    #audio{
        width: 85vw;
    } 
}
@media screen and (max-width: 560px){
    #audio{
        width: 90vw;
    } 
}
@media screen and (max-width: 475px){
    #audio{
        width: 100vw;
    } 
}

